.adver-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.adver-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 0.5rem 1rem;
  background-color: #fffdfe;
  border: 1px solid #d4e5fa;
  border-radius: 20px;
}
.adver-box :nth-child(1) {
  margin: 0.5rem 0;
}
.adver-box :nth-child(2) {
  margin: 0.5rem 0;
  color: orange;
  font-weight: 600;
}

.adver-box :nth-child(3) {
  margin: 0.5rem 0;
  font-weight: 600;
}

.adver-box :nth-child(4) {
  margin: 0.5rem 0;
  text-align: center;
}

.adver-box :nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
  color: orange;
  font-weight: 600;
  cursor: pointer;
}
.adver-title {
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}
.divider {
  font-weight: 600;
  opacity: 0.5;
  font-size: 1.5rem;
  margin: 1rem 0;
}
