#LPmainCont {
  display: flex;
  padding: 1%;
  justify-content: space-between;
}
#LPtext1 {
  font-size: 22px;
  padding-bottom: 4%;
  font-weight: bold;
  width: 70%;
}

#LPtext2 {
  font-size: 20px;
  padding-bottom: 20%;
}
#LPtext3 {
  font-size: 20px;
  font-weight: 500px;
  font-weight: bold;
  padding-top: -2%;
  font-family: Roboto 22px;
}
#LPtextCont {
  text-align: left;
  color: black;
  text-decoration: none;
}
.landing-top-section {
  background-color: #ffc577;
  border-radius: 20px;
  /* min-height: 100vh; */
}

.new-banner-1 {
  background-color: #02b695;
  /* min-height: 100vh; */
}

.white-border-new {
  margin: 10px;
  border: 1px solid white;
  border-radius: 8px;
}
.empty-container {
  display: flex;
}

.empty-container .right {
  width: 100%;
  display: grid;
  place-items: center;
}
.empty-container .left {
  width: 100%;
  display: grid;
  place-items: center;
}
.empty-container .left .imgContainer {
  width: 70%;
}

.empty-container .left .imgContainer img {
  width: 100%;
  height: 100%;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators [data-bs-target] {
  background-color: #ff8d22;
  width: 11px;
  height: 11px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 50%;
}
