.MSPCont2 {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-direction: column;
}
.MSPcontiner1 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 1%;
}
.MSPmainContainer {
  padding-bottom: 30px;
  padding-top: 30px;
}
.row-container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.row-container::-webkit-scrollbar {
  display: none;
}
.arrow-scroll-cont {
  gap: 3rem;
  margin-bottom: 1rem;
}
.scroll-arrow {
  width: 40px;
  height: 40px;
  color:#FF8D22;
  border: 1px solid #FF8D22;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.prod-cont {
  margin: 0 1rem;
  
}
