.ProductMainContainer {
  background: #fafafa;
  min-width: 260px;
  padding: 0rem 0.5rem 1rem 0.5rem;
  border-radius: 8px;
}
.Images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
}
.discription {
  font-size: 0.8rem;
  padding-bottom: 2px;
  text-align: left;
  font-weight: 500;
  font-style: normal;
  font-family: Poppins;
  letter-spacing: 0px;
  color: #121212;
  opacity: 1;
}
.price {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  font-style: normal;
  letter-spacing: 0px;
  font-family: Poppins;
  color: #121212;
  opacity: 1;
}
.Stars {
  text-align: end;
}

/* productContaner2 */

.ProCont1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.ProHead {
  font-size: 10px;
  opacity: 50%;
  font-weight: 400;
}

.taller{
  height: 45px;
  cursor: pointer;
}

.tall{
  height: 45px;
}

#WishListButtonCont1 {
  margin: 1rem 0;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#BUYbutton11 {
  background-color: #ff8d22;
  color: white;
  border: 0px;
  height: 40px;
  width: 100%;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.4s;
}
#BUYbutton11:active {
  background-color: #ff8d22;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}
#BUYbutton21 {
  background-color: white !important;
  color: #ff8d22 !important;
  border: 1px solid !important;
  width: 50px !important;
  border-radius: 5px !important;
  margin: 1% !important;
  cursor: pointer !important;
  transition-duration: 0.4s !important;
  height: auto !important;
}
#BUYbutton21:active {
  background-color: #ff8d22 !important;
  color: white !important;
  /* box-shadow: 0 5px #666; */
  transform: translateY(1px) !important;
}
.product-title-cont {
  display: flex;
  justify-content: space-between;
}

.submit-button{
  width:70px;
  padding: 5px;
  margin-top: 8px;
  border: 1px solid #ff8d22;
  border-radius: 5px;
  background-color: #ff8d22;
  color: white;
  align-self: flex-end;
}

.focus:focus-visible{
  border: none;
  outline: none;
}