.ProductMainContainer {
  background: #fafafa;
  width: 220px;
  padding: 0rem 0.5rem 1rem 0.5rem;
  border-radius: 8px;
  box-shadow: 1px 2px 7px #e4e1e1;
}
.Images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
}
.discription {
  font-size: 0.8rem;
  padding-bottom: 2px;
  text-align: left;
  font-weight: 500;
  font-style: normal;
  font-family: Poppins;
  letter-spacing: 0px;
  color: #121212;
  opacity: 1;
}
.price {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  font-style: normal;
  letter-spacing: 0px;
  font-family: Poppins;
  color: #121212;
  opacity: 1;
}
.Stars {
  text-align: end;
}

/* productContaner2 */

.ProCont1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.ProHead {
  font-size: 10px;
  opacity: 50%;
  font-weight: 400;
}
