#APmainCont {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
}
#APcontPart1 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 3% 0% 2% 0%;
}
.APpara {
  font-size: 18px;
  text-align: center;
  padding: 0% 10% 2% 10%;
  opacity: 75%;
}
.APorangeHead {
  font-size: 25px;
  font-weight: 700;
  color: #ff8d22;
  padding: 2% 0% 1% 0%;
  text-align: center;
}
.APBlackHead {
  font-size: 25px;
  font-weight: 700;
  color: black;
  padding: 0% 0% 2% 0%;
  text-align: center;
}
#JoinNow {
  background-color: #ff8d22;
  color: white;
  border: 0px;
  height: 40px;
  width: 440px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  margin: 1%;
}
#APbuttonCont {
  padding: 2% 0% 7% 0%;
}
