.LoginMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.LoginContainer1 {
  border: 2px solid black;
  border-radius: 14px;
  padding: 4% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#loginDiv3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.inputBox {
  background: #fcfcfc;
  border: 1px solid #ff8d22;
  color: #ff8d22;
  padding: 2%;
  margin: 5%;
  width: 390px;
  border-radius: 8px;
  height: 26px;
}
.loginButton {
  /* background-color: white;
  color: #ff8d22;
  border: 1px solid;
  height: 40px;
  width: 190px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  margin: 1%;
  margin-bottom: 4%; */
  background-color: #ff8d22;
  color: white;
  border: 0px;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.4s;
}
.SignUpButton {
  /* background-color: #ff8d22;
  color: white;
  border: 0px;
  height: 40px;
  width: 190px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  margin: 1%; */
  background-color: #ff8d22;
  color: white;
  border: 0px;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 1%;
}
.loginButton:active {
  background-color: #ff8d22;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}
.SignUpButton:active {
  background-color: #ff8d22;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}
#loginDiv1 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 5%;
}
#loginDiv2 {
  font-size: 16px;
  opacity: 50%;
  font-weight: 500;
  padding-bottom: 10%;
}
input.inputBox::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ff8d22;
  opacity: 1; /* Firefox */
  padding: 2%;
}

#forgotPas {
  text-align: right;
  width: 100%;
  color: #ff8d22;
  padding-bottom: 7%;
  font-weight: bold;
}
