.profile-container {
  position: relative;
}
.top-image-container {
  width: 100%;
  padding: 1rem 2rem;
  height: 300px;
}
.top-image {
  width: 100%;
}
.details {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-family: "Poppins";
  letter-spacing: 0.48px;
  color: #000000;
  font-size: 1.2rem;
  padding-bottom: 30px;
}
.details-value {
  font-family: "Poppins";
  letter-spacing: 0.48px;
  color: #000000;
  opacity: 1;
  font-weight: 500;
}
.cont {
  width: 600px;
  /* height: 1008px; */
  margin-left: 50px;
  margin-top: 50px;
}

.mainCont1 {
  position: absolute;
  display: flex;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  border: 0.5px solid gray;
  top: 44%;
  left: 5%;
  margin-bottom: 2rem;
}

.details p:first-of-type {
  color: grey;
}

.img1 {
  margin-top: 50px;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout-cont {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.btn-profile1 {
  background-color: #fff1e3;
  color: #ff8d22;
  border: 1px solid #ff8d22;
  padding: 20px 80px;
  border-radius: 10px;
}
.basic-cont {
  display: flex;
  flex-direction: column;
}
.basic-cont :nth-child(1),
.account-cont :nth-child(1) {
  justify-self: center;
  align-self: center;
}
.account-cont {
  display: flex;
  flex-direction: column;
}

.camera-icon {
  position: absolute;
  left: 88%;
  top: 38%;
  padding: 8px;
  color: white;
  background-color: #ff8d22;
  border-radius: 50%;
}
