.LoginMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.LoginContainer1 {
  border: 1px solid #707070;
  border-radius: 14px;
  padding: 4% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#loginDiv3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.inputBox {
  background: #fcfcfc;
  border: 1px solid #ff8d22;
  color: black;
  padding: 1rem;
  width: 424px;
  border-radius: 8px;
  height: 50px;
  margin: 1rem 0;
  outline-width: 1px;
  outline-color: #707070;
  font-weight: 600;
  font-size: 1rem;
}
.loginButton {
  /* background-color: white;
  color: #ff8d22;
  border: 1px solid;
  height: 40px;
  width: 190px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  margin: 1%;
  margin-bottom: 4%; */
  background-color: rgba(255, 141, 34, 0.2);
  color: #ff8d22;
  border: 1px solid #ff8d22;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.4s;
}
.SignUpButton {
  /* background-color: #ff8d22;
  color: white;
  border: 0px;
  height: 40px;
  width: 190px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  margin: 1%; */
  background-color: #ff8d22;
  color: white;
  border: 0px;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-top: 10px;
}
.loginButton:active {
  background-color: #ff8d22;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}
.SignUpButton:active {
  background-color: #ff8d22;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}
#loginDiv1 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 5%;
}
#loginDiv2 {
  font-size: 16px;
  opacity: 50%;
  font-weight: 500;
  padding-bottom: 10%;
}

#forgotPas {
  text-align: right;
  width: 420px;
  color: #ff8d22;
  padding-bottom: 7%;
  font-weight: bold;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
